[Unit]
Description=Macbook Pro 14,2 Setup

[Service]
ExecStart=sh /home/ashleigh/.config/scripts/mbp-startup.sh

[Install]
WantedBy=multi-user.target

