Nextcloud/
vmware/
.thunderbird/
.mozilla/
.ssh/
.local/
.config/dotbare/
.config/discord
.config/BraveSoftware
.steam
Downloads
.cargo/
.cache/
.config/awesome/vicious/
.config/xfce4/
.config/awesome/battery-widget/
.config/nvim/plugin/packer_compiled.lua
.factorio/
.lesshst
archinstall.sh
.xsession-errors*
.wget-hsts
.config/cef_user_data
.ICEauthority
.Xauthority
go/
.npm
Documents/
rmlint*
.zcompdump
# TODO: Check if required?
.pki/ 
# TODO: Check if required?
.gnupg/* 
.python_history
.config/vlc
.config/zsh/history
.gtk-bookmarks
.xscreensaver
.steam*
.pulse-cookie
Documents
# TODO: Required?
.dmrc
.config/dconf/user
.config/inkscape/extension-errors.log
.config/inkscape/shell.history
.config/pulse/cookie
.config/QtProject.conf


# TODO: Check if required?
.config/Thunar/accels.scm
.config/Thunar/uca.xml
.gnome
.wineprefixes/
.platformio/
.config/fusion-360/
.config/Microsoft/
.config/GIMP/
.config/teams/
.config/OpenSCAD/
.config/autostart/teams.desktop
.config/menus
.config/instaloader
.config/inkscape
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/gtk.css
.config/ulauncher/ext_preferences/com.github.pbkhrv.ulauncher-keepassxc.db
.vmware/preferences
.config/systemd/user/default.target.wants/espanso.service
.conda/
.gitconfig
.config/lazygit/state.yml
