[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Plank Settings Save
Comment=Save Plank Settings
Exec=dconf dump /net/launchpad/plank/docks/ > ~/.config/plank/config.ini
OnlyShowIn=XFCE;
RunHook=1
StartupNotify=false
Terminal=false
Hidden=false

