[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Plank Settings Load
Comment=Load Plank Settings
Exec=cat $HOME/.config/plank/config.ini | dconf load /net/launchpad/plank/docks/
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

