[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PostInstallSetup
Comment=Script for post installation setup.
Exec=zsh $HOME/.config/scripts/postinstall.sh
RunHook=0
StartupNotify=false
Terminal=true
Hidden=false

